<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression</title>
</head>
<body>
    <div>
        <h1> Entre ton année d'expérience ici => </h1>
        <form action="/" method="post">
            <input name="year" type="text">
            <button type="submit">Estimer</button>
        </form>

    </div>
    <div>
            <h1> Voici le resultat pour la régression :</h1>
    <h2> {{ result}} €</h2>
    </div>

</body>
</html>